#[user]
#        email = 
#        name = 
[diff]
        tool = gvimdiff
[difftool]
        prompt = No

[alias]
    co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p

[user]
	name = docsis
	email = docsis.tt@gmail.com
[push]
	default = simple
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
